<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/font-awesome/4.5.0/css/font-awesome.min.css" th:href="@{/font-awesome/4.5.0/css/font-awesome.min.css}" />

<!-- text fonts -->
<link rel="stylesheet" href="../static/css/fonts.googleapis.com.css" th:href="@{/css/fonts.googleapis.com.css}" />

<!-- ace styles -->
<link rel="stylesheet" href="../static/css/ace.min.css" th:href="@{/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="../static/css/dropzone.min.css" th:href="@{/css/dropzone.min.css}"/>
	
<link rel="stylesheet" href="../static/css/ace-skins.min.css" th:href="@{/css/ace-skins.min.css}"/>
<link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}"/>
		
<!-- ace settings handler -->
<script src="../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js/}"></script>