
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
		<!-- Site Title -->
		<title>Home</title>		
			
			
			<th:block th:replace="fragments/style"></th:block>
			<link rel="stylesheet" href="../static/css/simple/style.css" th:href="@{/css/simple/style.css}" />
			<link rel="stylesheet" href="../static/css/dropify.min.css" th:href="@{/css/dropify.min.css}" />
			<style>
			  .carousel-inner img {
			      width: 100%;
			      height: 100%;
			  }
			  </style>
	</head>
		<body>
		   <div id="navbar" class="navbar navbar-default navbar-fixed-top" xmlns:th="http://wwww.thymeleaf.org">
				<div class="navbar-container" id="navbar-container">			
		
						<div class="navbar-header pull-left">
							<a href="/" class="navbar-brand">
								<small>
									<i class="fa fa-leaf"></i>
									LeafID
								</small>
							</a>
						</div>
						
						<div class="navbar-header page-scroll">
				            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>            
		        		</div>
		           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
		                <li class="hidden">
		                    <a href="#page-top"></a>
		                </li>
		                <li class="menu-active">
		                    <a href="#header">Home</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="#about">About</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/leafdatabase">Leaf DataBase</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="#contact">Contact</a>
		                </li>
		            </ul>
		        </div>					
			</div><!-- /.navbar-container -->
	</div>
	
	 
  
   <section id="header">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6">
         <div class="picture-container">
							      						          
	           <form action="/check" method="post" id="plant-form" enctype="multipart/form-data" data-toggle="validator" role="form">
	           <fieldset>
	            <div class="form-group">
	             <div class="picture">	
	            <input
			  		type="hidden"
			  		th:name="${_csrf.parameterName}"
			  		th:value="${_csrf.token}" />  		
	            <input type="file" id="input-file-events" name="file" data-error="Please upload the leaf image." class="dropify-event" data-max-file-size="5M" accept="image/x-png,image/gif,image/jpeg" required />
	       
	       </div>
	      <h3 class="help-block with-errors"><i class="ace-icon fa fa-leaf icon-animated-bell green bigger-180"></i></h3>
	        </div>
	        
	        
	        <!-- show leaf and non leaf percentage -->
	        	<div id ="progressShow">
											
				</div>					
			

			<div id="postResultDiv" style="margin:10px 0px 10px 0px;">
			</div>	
			
			
	         <div class="clearfix">
				<button  class="btn btn-primary btn-block" id="btnSubmit" type="submit" value="submit" Hidden >
							<i class="ace-icon fa fa-check bigger-110"></i>
							Submit
						</button>
						</div>
						</fieldset>
						  </form>												 
			</div>
			
			   
        </div>
        <div class="col-lg-6">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>
              <li data-target="#carousel-example-generic" data-slide-to="6"></li>
              
            </ul>
            <!-- slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="images/img/org-1.jpg" alt="Original Leaf Image" width="800" height="600">
              		<div class="carousel-caption">
				        <h3>Leaf</h3>
				        <p>Original Leaf Image</p>
			      	</div>
			   </div>
              <div class="item">
                <img src="images/img/GaussianBlur-2.jpg" alt="" width="800" height="600">
                	<div class="carousel-caption">
				        <h3>Step 1</h3>
				        <p>GaussianBlur</p>
			      	</div>
              </div>
              <div class="item">
                <img src="images/img/Gray-3.jpg" alt="" width="800" height="600">
               		 <div class="carousel-caption">
				        <h3>Step 2</h3>
				        <p>RGB to Gray</p>
			      	</div>
              </div>
              <div class="item">
                <img src="images/img/Binary4.jpg" alt="" width="800" height="600">
                	<div class="carousel-caption">
				        <h3>Step 3</h3>
				        <p>Gray to Binary</p>
			      	</div>
              </div>
              <div class="item">
                <img src="images/img/contour.jpg" alt="" width="800" height="600">
                	<div class="carousel-caption">
				        <h3>Step 4</h3>
				        <p>Contour Findings</p>
			      	</div>
              </div>
               <div class="item">
                <img src="images/img/center-5.jpg" alt="" width="800" height="600">
                	<div class="carousel-caption">
				        <h3>Step 5</h3>
				        <p>Centroid</p>
			      	</div>
              </div>
              <div class="item">
                <img src="images/img/Final.jpg" alt="" width="800" height="600">
                	<div class="carousel-caption">
				        <h3>Step 6</h3>
				        <p>Obtain Feature Vector</p>
			      	</div>
              </div>              
            </div>            	
          </div>
        </div>

      </div>
    </div>
  </section>
  
 <div class="main-container">
		<div class="main-content-inner">
  <section id="about">
     <div class="container section-gap">
      <div class="row">
        <div class="col-lg-6 call-to-action-area">
          <div class="info-thumb">
			<img src="images/gallery/peepal.jpg" class="img-fluid info-img" alt="">
		 </div>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
          	<div class="info-content">
								<h2 class="pb-10">About</h2>
								<p align="justify">
									This project will help to identify given species of plant using shape shape similarity of leaf. It can be helpful for botanist, student, farmers and others who are willing to get information about plant. It can help deaf and blind people to recognize plant species around them.
Our system will work on the image provided by the user. It will extract the contour data of the leaf image and compare it to the valid information on the database. Hence it will provide the information about plant from the generated leaf data and valid data on database. It will also suggest similar plants that is similar to that leaf.		
								</p>
								
								<br>
								
								</div>
        </div>

      </div>
    
  </div>
  
  </section>			
			<!-- Start call-to-action Area -->
			<section id="contact">
				<div class="container section-gap">
					<div class="row ">
						<div class="col-lg-12 text-center">
						<h1 >Our app is now available on Google Play</h1>
							<h3 class="text-white mt-30">
								<img src="images/ic_logo.png" alt="Logo" width="52" height="52"> LeafID
							</h3>
							<a href='https://play.google.com/store/apps/details?id=com.leafid&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
							<img alt='Get it on Google Play'  width="256" src="images/ic_appstore.png"/></a>						
						</div>
					</div>					
				</div>	
				<footer class="footer " th:replace="fragments/footer"></footer>
			</section>
			<!-- End call-to-action Area -->

			
</div>
</div>

	
 <th:block th:replace="fragments/script"></th:block>
 <script src="../static/js/ai_predict.js" th:src="@{/js/ai_predict.js/}"></script>
 <script src="../static/js/dropify.min.js" th:src="@{/js/dropify.min.js/}"></script>
  <script src="../static/js/jquery.easypiechart.min.js" th:src="@{/js/jquery.easypiechart.min.js/}"></script>
       <script>
            $(document).ready(function(){
                // Basic
                
                $('.dropify').dropify();          
               

                // Used events
                var drEvent = $('.dropify-event').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.filename + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });
            });
            
        </script>
        
        <script type="text/javascript">
			jQuery(function($) {
				$('.easy-pie-chart.percentage').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
					var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#CA5952';
					var size = parseInt($(this).data('size')) || 50;
					$(this).easyPieChart({
						barColor: barColor,
						trackColor: trackColor,
						scaleColor: false,
						lineCap: 'butt',
						lineWidth: parseInt(size/10),
						animate: ace.vars['old_ie'] ? false : 1000,
						size: size
					});
				})
			})
				
				</script>
		</body>
	</html>



