<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
	<meta charset="ISO-8859-1"/>
	<title>Plant List</title>	
	<th:block th:replace="fragments/style"></th:block>
</head>
<body class="no-skin">
   <div id="navbar" class="navbar navbar-default navbar-fixed-top" xmlns:th="http://wwww.thymeleaf.org">
				<div class="navbar-container" id="navbar-container">			
		
						<div class="navbar-header pull-left">
							<a href="/" class="navbar-brand">
								<small>
									<i class="fa fa-leaf"></i>
									LeafID
								</small>
							</a>
						</div>
						
						<div class="navbar-header page-scroll">
				            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>            
		        		</div>
		           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
		                <li class="hidden">
		                    <a href="#page-top"></a>
		                </li>
		                <li class="menu-active">
		                    <a href="/#header">Home</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/#about">About</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/leafdatabase">Leaf DataBase</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/#contact">Contact</a>
		                </li>
		            </ul>
		        </div>					
			</div><!-- /.navbar-container -->
	</div>
	
	
	
	
	<div class="main-container">
		<div class="main-content-inner">
				

			
			
    <div class="main-container" id="main-container">
		
			<div class="page-content">						
					<div class="page-header">
						<h1>
							Leaf DataBase
						</h1>
					</div><!-- /.page-header -->
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							
									<div>
											<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th width="10%">Image</th>											
														<th width="8%" class="hidden-480">Sub-Kingdom</th>
														<th width="10%" class="hidden-480">Division</th>														
														<th width="10%" class="hidden-480">Class Name</th>														
														<th width="10%" class="hidden-480">Family</th>
														<th width="10%" class="hidden-480">Genus</th>
														<th width="10%" class="hidden-480">Species</th>
														<th width="10%">Common Name</th>																									
														<th width="5%" class="hidden-480">View</th>
														
													</tr>
												</thead>

									<tbody>
										<tr th:each = "plantList :${plantList}">  		
											<td><a class="blue" th:href="@{'/singleview/'+${plantList.id}}">
											<img th:src="${plantList?.imageUrl}" alt="image" style="width:144px;height:108px"/>
											</a>
											</td>																																						
											<td th:text ="${plantList?.subKingdom}" class="hidden-480">test</td>
											<td th:text ="${plantList?.division}" class="hidden-480">test</td>									
											<td th:text ="${plantList?.className}" class="hidden-480">test</td>													
											<td th:text ="${plantList?.family}" class="hidden-480">test</td>
											<td th:text ="${plantList?.genus}" class="hidden-480">test</td>
											<td th:text ="${plantList?.species}" class="hidden-480">test</td>
											<td th:text ="${plantList?.commonName}">test</td>
											
											<td class="hidden-480">		
											<!--View button-->
													 <div class="hidden-sm hidden-xs action-buttons">                          												
													<a class="btn btn-success" th:href="@{'/singleview/'+${plantList.id}}">
														<i class="glyphicon glyphicon-grain"></i>
													</a>
													</div>
											</td>														
											
											
										</tr>


									</tbody>
											</table>
										</div>													
									
								
							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
			</div><!-- /.content -->
			
				
	</div><!-- /.main-content -->
	
	
	
	<footer class="footer " th:replace="fragments/footer"></footer>
	</div>
</div>	
	
	<th:block layout:fragment="scripts">
	<th:block th:replace="fragments/script"></th:block>
	
		<script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js/}"></script>
		<script src="../static/js/jquery.dataTables.bootstrap.min.js" th:src="@{/js/jquery.dataTables.bootstrap.min.js/}"></script>
		<script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js/}"></script>
		<script src="../static/js/buttons.flash.min.js" th:src="@{/js/buttons.flash.min.js/}"></script>
		<script src="../static/js/buttons.html5.min.js" th:src="@{/js/buttons.html5.min.js/}"></script>
		<script src="../static/js/buttons.print.min.js" th:src="@{/js/buttons.print.min.js/}"></script>
		<script src="../static/js/buttons.colVis.min.js" th:src="@{/js/buttons.colVis.min.js/}"></script>
		<script src="../static/js/dataTables.select.min.js" th:src="@{/js/dataTables.select.min.js/}"></script>
		
		<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable = 
				$('#dynamic-table')
				
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,null, null, null, null, null,
					  { "bSortable": false }
					],
					"aaSorting": [],
					
					select: {
						style: 'multi'
					}
			    } );				
			})
		</script>
		
		
<script type="text/javascript">
				document.getElementById("plant-upload").onchange = function() {
			    document.getElementById("plant-form").submit();
				}
			</script>
			
	</th:block>
    

</body>
</html>