<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1" />
<title>Matching Plant List</title>
<th:block th:replace="fragments/style"></th:block>
</head>
<body>

	<div id="navbar" class="navbar navbar-default navbar-fixed-top"
		xmlns:th="http://wwww.thymeleaf.org">
		<div class="navbar-container" id="navbar-container">

			<div class="navbar-header pull-left">
				<a href="/" class="navbar-brand"> <small> <i
						class="fa fa-leaf"></i> LeafID
				</small>
				</a>
			</div>

			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"><a href="#page-top"></a></li>
					<li class="menu-active"><a href="/">Home</a></li>
					<li class="page-scroll"><a href="/#about">About</a></li>
					<li class="page-scroll"><a href="/leafdatabase">Leaf
							DataBase</a></li>
					<li class="page-scroll"><a href="/#contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-container -->
	</div>


	<div class="main-container">
		<div class="main-content-inner">
			<div class="main-container" id="main-container">
				<div class="page-content">
					<div class="widget-box transparent">
						<div class="widget-header widget-header-large">
							<h2 class="widget-title">Showing the list of matching plants
							</h2>
							<div class="widget-toolbar no-border invoice-info">
								<img th:src="${remoteUploadUrl}" alt="image"
									style="width: 200px; height: 150px" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div>
								<table id="dynamic-table"
									class="table table-striped table-responsive table-bordered table-hover">
									<thead>
										<tr>
											<th >Image</th>
											<th width="8%">Match %</th>
											<th  width="10%" class="hidden-480">Sub-Kingdom</th>
											<th  class="hidden-480">Division</th>											
											<th  class="hidden-480">Class Name</th>
											<th  width="10%" class="hidden-480">Family</th>
											<th width="10%" class="hidden-480">Genus</th>
											<th class="hidden-480">Species</th>
											<th >Common Name</th>
											<th  class="hidden-480">View</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="similarity :${similarity}">
											<td><a class="blue"
												th:href="@{'/singleview/'+${similarity.plant.id}}"> 
												<img th:src="${similarity.plant.imageUrl}"
													alt="image" style="width:144px;height:108px" />
											</a></td>
											<td th:text="${similarity.similar}">test</td>
											<td th:text="${similarity.plant.subKingdom}" class="hidden-480">test</td>
											<td th:text="${similarity.plant.division}" class="hidden-480">test</td>											
											<td th:text="${similarity.plant.className}" class="hidden-480">test</td>
											<td th:text="${similarity.plant.family}" class="hidden-480">test</td>
											<td th:text="${similarity.plant.genus}" class="hidden-480">test</td>
											<td th:text="${similarity.plant.species}" class="hidden-480">test</td>
											<td th:text="${similarity.plant.commonName}">test</td>
											<td  class="hidden-480">
												<!--View button-->
												<div class="hidden-sm hidden-xs action-buttons">
													<a class="btn btn-success"
														th:href="@{'/singleview/'+${similarity.plant.id}}"> <i
														class="glyphicon glyphicon-grain"></i>
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.content -->
			</div>
			<!-- /.main-content -->
		</div>
	</div>
	<th:block th:replace="fragments/script"></th:block>
	<th:block layout:fragment="scripts">
		<script src="../static/js/jquery.dataTables.min.js"
			th:src="@{/js/jquery.dataTables.min.js/}"></script>
		<script src="../static/js/jquery.dataTables.bootstrap.min.js"
			th:src="@{/js/jquery.dataTables.bootstrap.min.js/}"></script>
		<script src="../static/js/dataTables.buttons.min.js"
			th:src="@{/js/dataTables.buttons.min.js/}"></script>
		<script src="../static/js/buttons.flash.min.js"
			th:src="@{/js/buttons.flash.min.js/}"></script>
		<script src="../static/js/buttons.html5.min.js"
			th:src="@{/js/buttons.html5.min.js/}"></script>
		<script src="../static/js/buttons.print.min.js"
			th:src="@{/js/buttons.print.min.js/}"></script>
		<script src="../static/js/buttons.colVis.min.js"
			th:src="@{/js/buttons.colVis.min.js/}"></script>		
		<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable = 
				$('#dynamic-table')
				
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [
					  { "bSortable": false },
					  null, null,null, null, null, null, null, null,
					  { "bSortable": false }
					],
					"aaSorting": [],
					
					select: {
						style: 'multi'
					}
			    } );				
			})
		</script>
	</th:block>
</body>
</html>