<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
	<meta charset="ISO-8859-1"/>
	<title>Plant Details</title>
	
	<th:block th:replace="fragments/style"></th:block>
</head>
<body>
   <div id="navbar" class="navbar navbar-default navbar-fixed-top" xmlns:th="http://wwww.thymeleaf.org">
				<div class="navbar-container" id="navbar-container">			
		
						<div class="navbar-header pull-left">
							<a href="/" class="navbar-brand">
								<small>
									<i class="fa fa-leaf"></i>
									LeafID
								</small>
							</a>
						</div>
						
						<div class="navbar-header page-scroll">
				            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				                <span class="sr-only">Toggle navigation</span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				                <span class="icon-bar"></span>
				            </button>            
		        		</div>
		           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
		                <li class="hidden">
		                    <a href="#page-top"></a>
		                </li>
		                <li class="menu-active">
		                    <a href="/#header">Home</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/#about">About</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/leafdatabase">Leaf DataBase</a>
		                </li>
		                <li class="page-scroll">
		                    <a href="/#contact">Contact</a>
		                </li>
		            </ul>
		        </div>					
			</div><!-- /.navbar-container -->
	</div>
	
	
	<div class="main-container">
		<div class="main-content-inner">	
	   		<div class="main-container" id="main-container">
				<div class="page-content">						
					<div class="page-header">
						<h1>
							Plant Details
							
						</h1>
					</div><!-- /.page-header -->
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
																		
									<div id="user-profile-1" class="user-profile row">
										<div class="col-xs-12 col-sm-6 center">
											<div>
												<span class="profile-picture">
													<img th:src="${plantDetails.imageUrl}"  alt="Plant picture" style="width:600px;height:450px"/>
												</span>

												<div class="space-4"></div>

												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">								
															<span class="white" th:text="${plantDetails.commonName}">Title</span>														
													</div>
												</div>
											</div>
											<div class="space-6"></div>									
										</div>

										<div class="col-xs-12 col-sm-6">							
											<div class="profile-user-info profile-user-info-striped">
												<div class="profile-info-row">
													<div class="profile-info-name"> Kingdom </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.kingdom}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Sub-Kingdom </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.subKingdom}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Super-Division </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.superDivision}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Division </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.division}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Phylum </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.phylum}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Class</div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.className}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Sub-Class </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.subClass}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Order </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.order}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Family </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.family}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Genus </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.genus}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Species </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.species}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Common Name </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.commonName}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Description <br/>
													</div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.description}">test</span>
													</div>
												</div>
											</div>

											<div class="space-20"></div>													
										</div>
									</div>
								
							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->


					<div th:if="${plantDetails.albums != null}" class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div>
								<hr />
								<div class="page-header">
									<h1>Gallery</h1>
								</div>
								<ul class="ace-thumbnails clearfix">
									<li th:each="albums :${plantDetails.albums}"><a
										th:href="${albums}" data-rel="colorbox"> <img
											th:src="${albums}" alt="Plant picture" width="200"
											height="150" />
											<div class="text">
												<i class="ace-icon fa fa-search-plus"></i>
											</div>
									</a></li>

								</ul>
							</div>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
			</div><!-- /.content -->
			</div>
			
	
	<footer class="footer" th:replace="fragments/footer"></footer>
	</div>	
	</div><!-- /.main-content -->
	
	<th:block th:replace="fragments/script"></th:block>
	
	<th:block layout:fragment="scripts">
		<script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js/}"></script>
		<script src="../static/js/jquery.dataTables.bootstrap.min.js" th:src="@{/js/jquery.dataTables.bootstrap.min.js/}"></script>
		<script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js/}"></script>
		<script src="../static/js/buttons.flash.min.js" th:src="@{/js/buttons.flash.min.js/}"></script>
		<script src="../static/js/buttons.html5.min.js" th:src="@{/js/buttons.html5.min.js/}"></script>
		<script src="../static/js/buttons.print.min.js" th:src="@{/js/buttons.print.min.js/}"></script>
		<script src="../static/js/buttons.colVis.min.js" th:src="@{/js/buttons.colVis.min.js/}"></script>
		<script src="../static/js/jquery.colorbox.min.js" th:src="@{/js/jquery.colorbox.min.js/}"></script>
		<script type="text/javascript">
			jQuery(function($) {
				var $overflow = '';
				var colorbox_params = {
					rel : 'colorbox',
					reposition : true,
					scalePhotos : true,
					scrolling : false,
					previous : '<i class="ace-icon fa fa-arrow-left"></i>',
					next : '<i class="ace-icon fa fa-arrow-right"></i>',
					close : '&times;',
					current : '{current} of {total}',
					maxWidth : '100%',
					maxHeight : '100%',
					onOpen : function() {
						$overflow = document.body.style.overflow;
						document.body.style.overflow = 'hidden';
					},
					onClosed : function() {
						document.body.style.overflow = $overflow;
					},
					onComplete : function() {
						$.colorbox.resize();
					}
				};

				$('.ace-thumbnails [data-rel="colorbox"]').colorbox(
						colorbox_params);
				$("#cboxLoadingGraphic")
						.html(
								"<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon

				$(document).one('ajaxloadstart.page', function(e) {
					$('#colorbox, #cboxOverlay').remove();
				});
			})
		</script>
		
	</th:block>
    

</body>
</html>