<footer class="footer" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">
							<i class="fa fa-leaf"></i>
							LeafID</span>
							Application &copy;						
						<script>document.write(new Date().getFullYear());</script> All rights reserved							
						</span>
					</div>
				</div>
			</footer>