<div id="navbar" class="navbar navbar-default ace-save-state" xmlns:th="http://wwww.thymeleaf.org" th:fragment="header">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="/dashboard" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							LeafID
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						
						
						<li class="light-blue dropdown-modal" >
							<a data-toggle="dropdown" class="dropdown-toggle">															
								<span class="user-info">
									<small>Welcome,</small>
									[[${#httpServletRequest.remoteUser}]]
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li>
									<a th:href="@{/password}">
										<i class="ace-icon fa fa-cog"></i>
										Change Password
									</a>
								</li>

								<li class="divider"></li>

								<li>
								
									<a href="javascript: document.logoutForm.submit()" role="menuitem"> 
									<i class="ace-icon fa fa-power-off"></i>
									Logout
									</a>

   									<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      									<input hidden type="submit" value="Sign Out"/>
   									</form> 
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>
