<div id="sidebar" class="sidebar responsive ace-save-state" th:fragment="navbar">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<ul class="nav nav-list">
					<li class="">
						<a th:href="@{/dashboard}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>

					
					
					<li class="">
						<a th:href="@{/form}">
							<i class="menu-icon fa fa-leaf"></i>
							<span class="menu-text"> Add Plant </span>
						</a>

						<b class="arrow"></b>
					</li>

					
					<li class="">
						<a th:href="@{/viewplant}">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> View Plant List 
								<span class="badge badge-primary"  th:text="${count}">1</span>
							</span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a th:href="@{/register}">
							<i class="menu-icon fa fa-users"></i>
							<span class="menu-text"> Add User </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<li class="">
						<a th:href="@{/userlist}">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text"> Users List </span>
						</a>

						<b class="arrow"></b>
					</li>

				
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
