<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../static/css/ace.min.css" th:href="@{/css/ace.min.css}"/>
<link rel="stylesheet" href="../static/font-awesome/4.5.0/css/font-awesome.min.css" th:href="@{/font-awesome/4.5.0/css/font-awesome.min.css}" />
<link rel="stylesheet" href="../static/css/colorbox.min.css" th:href="@{/css/colorbox.min.css}"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../static/css/ace.min.css" th:href="@{/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="../static/css/ace-skins.min.css" th:href="@{/css/ace-skins.min.css}"/>
<link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}"/>
<script src="../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js/}"></script>