#parent {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.widget-header {
    background: #068b22;
    border-color: #48b012;
    color: #ffffff;
}
.table-header {
    background-color: #208649;
}
#parent > li {
    display: inline-block;     
}
.hidden{
  display:none;
  visibility:hidden;
}

/* .table-header {
    background-color: #3288af;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    padding-left: 12px;
    margin-bottom: 1px;
} */
.action-buttons a:hover {
    text-decoration: none;
    opacity: 1;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: none;
}

.modal-dialog {
    width: 500px;
    margin: 30px auto;
}
.modal-content {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: 0 5px 15px rgba(66, 10, 35, 0.47);
}
.form-group.has-error .control-label, .form-group.has-error .help-block, .form-group.has-error .help-inline {
    color: rgb(255, 112, 112);
}

.picture-container {
    position: relative;
    text-align: center;
    padding: 25px;
    background: rgba(0, 0, 0, 0.49);
    /* margin-top: 30px; */
    margin-bottom: 50px;
    box-shadow: 0px 0px 50px 0px rgba(157, 157, 157, 0.3);
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #73AD21;
}

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 50px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}
.picture {
    background-color: rgb(253, 253, 253);
    border: 6px solid #BEF63A;
    color: #FFF;
    margin: 0px auto;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
strong{
	color: #ff0000;
	font-weight: 400;
	font-size: 16px;
}
.picture:hover{
    border-color: #00ff00;
    background-color: rgb(253, 253, 253);
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}

.picture-src{
    width: 100%;
    
}
/*Profile Pic End*/



.form-group {
    margin-bottom: 6px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-300 {
    padding-top: 300px;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.mt-40 {
    margin-top: 40px;
}
.info-area .info-left {
    z-index: 2;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-10 {
    padding-bottom: 10px;
}
.text-center {
    text-align: center;
}
.info-area .info-thumb {
    overflow: hidden;
    display: inline-block;
}
.no-padding {
    padding: 0;
}

.info-content {
  box-shadow: 0px 0px 50px 0px rgba(157, 157, 157, 0.3);
  position: relative;
  background: #fff;
  padding: 5px 40px 5px 20px;
}
.info-content:after {
  content: "";
  box-shadow: -35.355px 35.355px 50px 0px rgba(157, 157, 157, 0.3);
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 2;
  background: #fff;
  width: 50px;
  height: 100%;
}
.section-gap {
    padding: 120px 0;
}
.info-area .info-content {
    box-shadow: 0px 0px 50px 0px rgba(157, 157, 157, 0.3);
    position: relative;
    background: #fff;
    padding: 60px 40px 60px 0px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}


.form-inline {
	display: flow-root;
    flex-flow: row wrap;
    align-items: center;
}
.navbar .navbar-nav>li {
    /* border: 1px solid rgba(0,0,0,.2); */
    border-width: 0 0px 0 0;
}

.login-container {
    width: 450px;
    margin: 0 auto;
}

.user-info {
    max-width: 300px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 6px;
}

.navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: 2px 5px 20px 0px rgba(0,0,0,.2);
    min-height: 45px;
    background: #108916;
}
.ace-nav>li.light-blue>a {
    background-color: #1fa025f5;
}
.ace-nav>li.light-blue>a:focus, .ace-nav>li.light-blue>a:hover, .ace-nav>li.open.light-blue>a {
    background-color: #0d7212;
}

.profile-user-info {
 display:table;
 width:98%;
 width:calc(100% - 24px);
 margin:0 auto
}
.profile-info-row {
 display:table-row
}
.profile-info-name,.profile-info-value {
 display:table-cell;
 border-top:1px dotted #D5E4F1
}
.profile-info-name {
 text-align:right;
 padding:6px 10px 6px 4px;
 font-weight:500;
 font-size: 14px;
 color:#667E99;
 background-color:transparent;
 width:140px;
 vertical-align:middle
}
.profile-info-value {
 padding:6px 4px 6px 6px
}
.profile-info-value>span+span:before {
 display:inline;
 content:",";
 margin-left:1px;
 margin-right:3px;
 color:#666;
 border-bottom:1px solid #FFF
}
.profile-info-value>span+span.editable-container:before {
 display:none
}
.profile-info-row:first-child .profile-info-name,.profile-info-row:first-child .profile-info-value {
 border-top:none
}
.profile-user-info-striped {
 border:1px solid #DCEBF7
}
.profile-user-info-striped .profile-info-name {
 color:#336199;
 background-color:#EDF3F4;
 border-top:1px solid #F7FBFF
}
.profile-user-info-striped .profile-info-value {
 border-top:1px dotted #DCEBF7;
 padding-left:12px
}

.form-actions {
    display: block;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px 10px;
}