<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Add Plant</title>
	<th:block layout:fragment="styles">
	<link rel="stylesheet" href="../static/css/dropify.min.css" th:href="@{/css/dropify.min.css}" />
	</th:block>
</head>
<body>
   
    <div layout:fragment="content">
				
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="/dashboard">Home</a>
					</li>

					<li class="active">Add Plant</li>
				</ul><!-- /.breadcrumb -->
			</div>
			
			<div class="page-content">
						
						<div class="page-header">
							<h1>
								Add Plant
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Enter the Plant details
								</small>
							</h1>
						</div><!-- /.page-header -->
						
						<div th:if="${message}">
							<h2 th:text="${message}"></h2>
						</div>

						<div class="row">
							<div class="col-xs-12">
							
							<form th:object="${plant}" class="form-horizontal" method="POST" enctype="multipart/form-data" action="/file/upload" modelAttribute="plant">
								<input
									  type="hidden"
									  th:name="${_csrf.parameterName}"
									  th:value="${_csrf.token}" />
								<div class="col-xs-7">
									<!-- PAGE CONTENT BEGINS -->
									
										
										
										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Kingdom </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-1" name="kingdom" placeholder="Kingdom" class="col-xs-12" />
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Sub-Kingdom </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-2"  name="subKingdom" placeholder="Sub-Kingdom" class="col-xs-12" />											
											</div>
										</div>
										
										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-3"> Super Division </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-3"  name="superDivision" placeholder="Super-Division" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-3-1"> Division </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-3-1"  name="division" placeholder="Division" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-4"> Phylum </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-4" name="phylum" placeholder="Phylum" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-5"> Class Name </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-5" name="className" placeholder="Class Name" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-6"> 
												Sub-Class </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-6" name="subClass" placeholder="Sub-Class" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-7"> Order </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-7"  name="order" placeholder="Order" class="col-xs-12" />											
											</div>
										</div>
										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-7-1"> Family </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-7-1"  name="family" placeholder="Family" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-8"> Genus </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-8"  name="genus" placeholder="Genus" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-9"> Species </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-9"  name="species" placeholder="Species" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-10"> Common Name </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-10"  name="commonName"  placeholder="Common Name" class="col-xs-12" />											
											</div>
										</div>
										
										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-21"> Wikipedia Link </label>

											<div class="col-sm-8">
												<input type="url" id="form-field-21"  name="wikiLink"  placeholder="Wikilink" class="col-xs-12" />											
											</div>
										</div>

										

									
										<div class="clearfix form-actions">
											<div class="col-md-offset-4 col-md-8">
												<button class="btn btn-primary" type="submit" value="Upload" >
													<i class="ace-icon fa fa-check bigger-110"></i>
													Submit
												</button>

												&nbsp; &nbsp; &nbsp;
												<button class="btn" type="reset">
													<i class="ace-icon fa fa-undo bigger-110"></i>
													Reset
												</button>
											</div>
										</div>
									</div>	

								
								<div class="col-xs-5">	
								
								
											<div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">Choose Feature Image</h4>													
												</div>

												<div class="widget-body">
													<div class="widget-main">
														<div class="form-group">
															<div class="col-xs-12">
																<input type="file" id="input-file-events" name="file" data-error="Please upload the leaf image." class="dropify-event" data-max-file-size="4M" accept="image/x-png,image/gif,image/jpeg" required />
															</div>
														</div>

													</div>
												</div>
											</div>					
	
									<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-2 control-label no-padding-right" for="form-field-11"> Description </label>
											<div class="col-sm-10">
											<textarea id="form-field-11" name="description" placeholder="Write some description" class="autosize-transition form-control"></textarea>
											</div>
										</div>
										<div class="space-2"></div>
										
										<div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">Upload Gallery Image</h4>													
												</div>

												<div class="widget-body">
													<div class="widget-main">
														<div class="form-group">
															<div class="col-xs-12">
																					<div class="input-group control-group after-add-more">
										<input type="file" name="gallery" class="form-control"/>
										<div class="input-group-btn">
											<button class="btn btn-sm btn-success add-more" type="button">
												<span class="glyphicon glyphicon-plus"></span> Add</button>
										</div>
									</div>
																				</div>
														</div>

													</div>
												</div>
											</div>
										
	<!-- For making album of images -->
				
			
			</div>
				</form>
	 <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
        <div class="copy-fields hide">
          <div class="control-group input-group" style="margin-top:10px">
            <input type="file" name="gallery" class="form-control"/>
            <div class="input-group-btn"> 
              <button class="btn btn-sm btn-danger remove" type="button"><span class="glyphicon glyphicon-trash"></span> Remove</button>
            </div>
          </div>
        </div>
						

							</div><!-- /.col -->
						</div><!-- /.row -->
			</div>
			
				
	</div><!-- /.main-content -->
    <th:block layout:fragment="scripts">
    <script type="text/javascript">
 
    $(document).ready(function() {
 
	//here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
      $(".add-more").click(function(){ 
          var html = $(".copy-fields").html();
          $(".after-add-more").after(html);
      });
//here it will remove the current value of the remove button which has been pressed
      $("body").on("click",".remove",function(){ 
          $(this).parents(".control-group").remove();
      });
 
    });
 
</script>
 <script src="../static/js/dropify.min.js" th:src="@{/js/dropify.min.js/}"></script>
       <script>
            $(document).ready(function(){
                // Basic
                
                $('.dropify').dropify();          
               

                // Used events
                var drEvent = $('.dropify-event').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.filename + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });
            });
            
        </script>
    </th:block>

</body>
</html>