<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<head>
	<meta charset="ISO-8859-1"/>
	<title>Detail Page</title>
</head>
<body>
    <div layout:fragment="content">
				
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="/dashboard">Home</a>
					</li>

					<li class="active">Plant Details</li>
				</ul><!-- /.breadcrumb -->
			</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					Single <small> <i class="ace-icon fa fa-angle-double-right"></i>
						Plant &amp; Details
					</small>
				</h1>
			</div>
			<!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<div id="user-profile-1" class="user-profile row">
						<div class="col-xs-12 col-sm-6 center">
							<div>
								<span class="profile-picture"> <img
									th:src="${plantDetails.imageUrl}" alt="Plant picture"
									style="width: 600px; height: 450px" />
								</span>

								<div class="space-4"></div>

								<div
									class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
									<div class="inline position-relative">
										<span class="white" th:text="${plantDetails.commonName}">Title</span>
									</div>
								</div>
							</div>
							<div class="space-6"></div>
						</div>

						<div class="col-xs-12 col-sm-6">
							<div class="profile-user-info profile-user-info-striped">
								<div class="profile-info-row">
									<div class="profile-info-name">Kingdom</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.kingdom}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Sub-Kingdom</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.subKingdom}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Super-Division</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.superDivision}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Division</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.division}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Phylum</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.phylum}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Class</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.className}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Sub-Class</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.subClass}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Order</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.order}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Family</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.family}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Genus</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.genus}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Species</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.species}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Common Name</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.commonName}">test</span>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">
										Description <br />
									</div>
									<div class="profile-info-value">
										<span class="editable" id="username"
											th:text="${plantDetails.description}">test</span>
									</div>
								</div>
							</div>

							<div class="space-20"></div>
						</div>
					</div>

					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->


			<div th:if="${plantDetails.albums != null}" class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div >
					<hr/>
						<div class="page-header">
							<h1>Gallery</h1>
						</div>
						<!-- /.page-header -->

						<ul class="ace-thumbnails clearfix">
							<li th:each="albums :${plantDetails.albums}"><a
								th:href="${albums}" data-rel="colorbox"> 
								<img th:src="${albums}" alt="Plant picture" width="200" height="150" />
									<div class="text">
										<i class="ace-icon fa fa-search-plus"></i>
									</div>
							</a></li>

						</ul>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.content -->


	</div><!-- /.main-content -->
	<th:block layout:fragment="scripts">
	<script src="../static/js/jquery.colorbox.min.js"
			th:src="@{/js/jquery.colorbox.min.js/}"></script>
		<script type="text/javascript">
			jQuery(function($) {
				var $overflow = '';
				var colorbox_params = {
					rel : 'colorbox',
					reposition : true,
					scalePhotos : true,
					scrolling : false,
					previous : '<i class="ace-icon fa fa-arrow-left"></i>',
					next : '<i class="ace-icon fa fa-arrow-right"></i>',
					close : '&times;',
					current : '{current} of {total}',
					maxWidth : '100%',
					maxHeight : '100%',
					onOpen : function() {
						$overflow = document.body.style.overflow;
						document.body.style.overflow = 'hidden';
					},
					onClosed : function() {
						document.body.style.overflow = $overflow;
					},
					onComplete : function() {
						$.colorbox.resize();
					}
				};

				$('.ace-thumbnails [data-rel="colorbox"]').colorbox(
						colorbox_params);
				$("#cboxLoadingGraphic")
						.html(
								"<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon

				$(document).one('ajaxloadstart.page', function(e) {
					$('#colorbox, #cboxOverlay').remove();
				});
			})
		</script>
	</th:block>

</body>
</html>