<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>User Register Page</title>
		
	</head>

	<body>
	<div >
		<div  class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1" layout:fragment="content">
					
							<div th:if="${message}">
								<h2 class="alert alert-danger" th:text="${message}"/>
							</div>
	
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="ace-icon fa fa-leaf green"></i>
									<span class="red">LeafId</span>
									
								</h1>
								
							</div>
	
					<div class="position-relative">
								
								<div id="signup-box" class="signup-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="ace-icon fa fa-users blue"></i>
												New User Registration
											</h4>


								<form th:action="@{/register}" th:object="${appUserForm}" method="POST" data-toggle="validator" role="form" >
									<fieldset>
									<div class="form-group">
					                      <label class="block clearfix" for="inputName">First Name</label>
					                      <span class="block input-icon input-icon-right">
					                      <input class="form-control" name ="firstName" data-error="Please enter name field." id="firstName" placeholder="First Name"  type="text" required />
					                      <i class="ace-icon fa fa-user"></i>
						                    </span>
					                      <div class="help-block with-errors"></div>
				                  	</div>
									<div class="form-group">
				                      <label class="block clearfix" for="lastName">Last Name</label>
				                      <span class="block input-icon input-icon-right">
				                      <input class="form-control" name ="lastName" data-error="Please enter name field." id="lastName" placeholder="Last Name"  type="text" required />
				                       <i class="ace-icon fa fa-user"></i>
						               </span>
				                      <div class="help-block with-errors"></div>
				                   </div>			
									<div class="form-group">
					                    <label for="inputEmail" class="block clearfix">Email</label>
					                    <span class="block input-icon input-icon-right">
					                    <input type="email" class="form-control" id="inputEmail"  name ="email" placeholder="Email" required/>
					                    <i class="ace-icon fa fa-envelope"></i>
					                    </span>
					                    <div class="help-block with-errors"></div>
					                </div>
					                
					                <div class="form-group">
									    <label for="inputPassword" class="block clearfix">Password</label>
									      <span class="block input-icon input-icon-right">
									         <input type="password" data-minlength="5" class="form-control" id="inputPassword" data-error="must enter minimum of 5 characters" placeholder="Password" required>
									           <i class="ace-icon fa fa-lock"></i>
					                   			 </span>          
									         <div class="help-block with-errors"></div>
									 </div>
									      <div class="form-group">
									      <label for="inputPasswordConfirm" class="block clearfix">Confirm Password</label>
									      <span class="block input-icon input-icon-right">
									        <input type="password" name="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, password don't match" placeholder="Confirm" required>
									        <i class="ace-icon fa fa-retweet"></i>
					                    </span>
									        <div class="help-block with-errors"></div>
									      </div>
									      
										<div class="form-group">
					                      <label class="block clearfix" for="address">Address</label>
					                      <span class="block input-icon input-icon-right">
					                      <input class="form-control" name ="address" data-error="Please enter name field." id="address" placeholder="Address"  type="text" required />
					                      <i class="ace-icon fa fa-home"></i>
					                    </span>
					                      <div class="help-block with-errors"></div>
					                  </div>

													<div class="space-10"></div>

													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i> <span
																class="bigger-110">Reset</span>
														</button>

														<button type="submit"
															class="width-65 pull-right btn btn-sm btn-success">
															<span class="bigger-110">Register</span> <i
																class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>

										
									</div><!-- /.widget-body -->
								</div><!-- /.signup-box -->
							</div><!-- /.position-relative -->

							
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->
</div>
		<!-- basic scripts -->

		<!--[if !IE]> -->
		 <script type="text/javascript" href="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js/}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		
	</body>
</html>
