<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Add Plant</title>
</head>
<body>
   
    <div layout:fragment="content">
				
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="/dashboard">Home</a>
					</li>

					<li class="active">Add Plant</li>
				</ul><!-- /.breadcrumb -->
			</div>
			
			<div class="page-content">
						
						<div class="page-header">
							<h1>
								Add Plant
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									Enter the Plant details
								</small>
							</h1>
						</div><!-- /.page-header -->
						
						<div th:if="${message}">
							<h2 th:text="${message}"></h2>
						</div>

						<div class="row">
							<div class="col-xs-12">
							
							<form th:object="${plant}" class="form-horizontal" method="POST" enctype="multipart/form-data" action="/update" modelAttribute="plant">
								<input
									  type="hidden"
									  th:name="${_csrf.parameterName}"
									  th:value="${_csrf.token}" />
								<div class="col-xs-7">
									<!-- PAGE CONTENT BEGINS -->
									
										<input type="hidden" name="id" th:value="${plant.id}"/>
										<input type="hidden" name="imageUrl" th:value="${plant.imageUrl}"/>		
										
													
										
										
										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Kingdom </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-1" th:value="${plant.kingdom}" name="kingdom" placeholder="Kingdom" class="col-xs-12" />
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Sub-Kingdom </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-2" th:value="${plant.subKingdom}" name="subKingdom" placeholder="Sub-Kingdom" class="col-xs-12" />											
											</div>
										</div>
										
										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-3"> Super Division </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-3" th:value="${plant.superDivision}" name="superDivision" placeholder="Super-Division" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-3-1"> Division </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-3-1" th:value="${plant.division}" name="division" placeholder="Division" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-4"> Phylum </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-4" th:value="${plant.phylum}" name="phylum" placeholder="Phylum" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-5"> Class Name </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-5" th:value="${plant.className}" name="className" placeholder="Class Name" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-6"> 
												Sub-Class </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-6" th:value="${plant.subClass}" name="subClass" placeholder="Sub-Class" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-7"> Order </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-7" th:value="${plant.order}" name="order" placeholder="Order" class="col-xs-12" />											
											</div>
										</div>
										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-7-1"> Family </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-7-1" th:value="${plant.family}" name="family" placeholder="Family" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-8"> Genus </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-8" th:value="${plant.genus}" name="genus" placeholder="Genus" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-9"> Species </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-9" th:value="${plant.species}" name="species" placeholder="Species" class="col-xs-12" />											
											</div>
										</div>

										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-10"> Common Name </label>

											<div class="col-sm-8">
												<input type="text" id="form-field-10" th:value="${plant.commonName}" name="commonName"  class="col-xs-12" />											
											</div>
										</div>
										
										<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-4 control-label no-padding-right" for="form-field-21"> Wikipedia Link </label>

											<div class="col-sm-8">
												<input type="url" id="form-field-21" th:value="${plant.wikiLink}" name="wikiLink"  class="col-xs-12" />											
											</div>
										</div>

						

									
										<div class="clearfix form-actions">
											<div class="col-md-offset-4 col-md-8">
												<button class="btn btn-primary" type="submit" value="Upload" >
													<i class="ace-icon fa fa-check bigger-110"></i>
													Submit
												</button>

												&nbsp; &nbsp; &nbsp;
												<button class="btn" type="reset">
													<i class="ace-icon fa fa-undo bigger-110"></i>
													Reset
												</button>
											</div>
										</div>
									</div>	

								
								<div class="col-xs-5">							

									<div>
										<div>
											<div>
												File to upload:<input type="file" name="file" accept="image/x-png,image/gif,image/jpeg"/>
											</div>
										</div>
									</div>
									
									<div class="space-2"></div>

										<div class="form-group">
											<label class="col-sm-2 control-label no-padding-right" for="form-field-11"> Description </label>
											<div class="col-sm-10">

											<textarea id="form-field-11" name="description" th:field="${plant.description}" class="autosize-transition form-control"></textarea>
										</div>
										</div>
										
							<div class="space-2"></div>
							<!-- insert gallery image -->
							<div class="input-group control-group after-add-more">
								<input type="file" name="gallery" class="form-control" accept="image/x-png,image/gif,image/jpeg"/>
								<div class="input-group-btn">
									<button class="btn btn-success add-more" type="button">
										Add</button>
								</div>
							</div>
							<br /> <br />
										

									
								</div>
							</form>
<!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
        <div class="copy-fields hide">
          <div class="control-group input-group" style="margin-top:10px">
            <input type="file" name="gallery" class="form-control"/>
            <div class="input-group-btn"> 
              <button class="btn btn-danger remove" type="button"> Remove</button>
            </div>
          </div>
        </div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>


		<div th:if="${plant.albums != null}" class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div>
					<div class="page-header">
						<h1>Gallery</h1>
					</div>
					<ul class="ace-thumbnails clearfix">
						<li th:each="albums,iterStat :${plant.albums}">
							<form th:action="${'/delete/'+plant.id+'/'+iterStat.index}"
								method="post">
								<input type="hidden" name="_method" value="delete"> <input
									type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" /> <a th:href="${albums}"
									data-rel="colorbox"> <img th:src="${albums}"
									alt="Plant picture" width="200" height="150" />

								</a>
								<div class="overlay">
									<button class="btn btn-danger" type="submit" value="Delete">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</div>
							</form>
						</li>

					</ul>
				</div>
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

	</div><!-- /.main-content -->
       <th:block layout:fragment="scripts">
       <script src="../static/js/jquery.colorbox.min.js"
			th:src="@{/js/jquery.colorbox.min.js/}"></script>
    <script type="text/javascript">
 
    $(document).ready(function() {
 
	//here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
      $(".add-more").click(function(){ 
          var html = $(".copy-fields").html();
          $(".after-add-more").after(html);
      });
//here it will remove the current value of the remove button which has been pressed
      $("body").on("click",".remove",function(){ 
          $(this).parents(".control-group").remove();
      });
 
    });
 
</script>
<script type="text/javascript">
			jQuery(function($) {
				var $overflow = '';
				var colorbox_params = {
					rel : 'colorbox',
					reposition : true,
					scalePhotos : true,
					scrolling : false,
					previous : '<i class="ace-icon fa fa-arrow-left"></i>',
					next : '<i class="ace-icon fa fa-arrow-right"></i>',
					close : '&times;',
					current : '{current} of {total}',
					maxWidth : '100%',
					maxHeight : '100%',
					onOpen : function() {
						$overflow = document.body.style.overflow;
						document.body.style.overflow = 'hidden';
					},
					onClosed : function() {
						document.body.style.overflow = $overflow;
					},
					onComplete : function() {
						$.colorbox.resize();
					}
				};

				$('.ace-thumbnails [data-rel="colorbox"]').colorbox(
						colorbox_params);
				$("#cboxLoadingGraphic")
						.html(
								"<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon

				$(document).one('ajaxloadstart.page', function(e) {
					$('#colorbox, #cboxOverlay').remove();
				});
			})
		</script>
    </th:block> 

</body>
</html>