<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default">
<head>
<meta charset="ISO-8859-1" />
<title>Users List</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li><i class="ace-icon fa fa-home home-icon"></i> <a href="/dashboard">Home</a>
				</li>

				<li class="active">Users list</li>
			</ul>
			<!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>
					View All <small> <i
						class="ace-icon fa fa-angle-double-right"></i> Users &amp; List
					</small>
				</h1>
			</div>
			<!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<div>
						<table id="dynamic-table"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th width="25%">Name</th>
									<th width="25%" class="hidden-480">Email</th>
									<th width="25%" class="hidden-480">Address</th>
									<th width="15%" class="hidden-480">Status</th>
									<th width="10%">Action</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="userList :${userList}">
									<td
										th:text="${userList?.firstName} + ' ' + ${userList?.lastName}">test</td>
									<td th:text="${userList?.email}" class="hidden-480">test</td>
									<td th:text="${userList?.address}" class="hidden-480">test</td>
									<td th:text="${userList?.enabled}" class="hidden-480">test</td>
									<td>
										<div class="hidden-sm hidden-xs action-buttons">
											<ul id="parent">
												<li><a class="btn btn-success"
													th:href="@{'/updateuser/'+${userList.id}}"> <i
														class="glyphicon glyphicon-pencil"></i>
												</a></li>
												<li>
													<form th:action="@{/user/delete}" th:method="delete">
														<input type="hidden" name="id" th:value="${userList.id}" />
														<button class="btn btn-danger " type="submit"
															value="Delete">
															<span class="glyphicon glyphicon-trash"></span>
														</button>
														<!-- <input class="btn btn-danger" type="submit" value="Delete"/> -->
													</form>
												</li>
											</ul>
										</div>
										<div class="hidden-md hidden-lg">
											<div class="inline pos-rel">
												<button class="btn btn-minier btn-yellow dropdown-toggle"
													data-toggle="dropdown" data-position="auto">
													<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
												</button>

												<ul
													class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

													<li><a class="btn btn-success"
														th:href="@{'/updateuser/'+${userList.id}}"> <i
															class="glyphicon glyphicon-pencil"></i>
													</a></li>

													<li>
														<form th:action="@{/user/delete}" th:method="delete">
															<input type="hidden" name="id" th:value="${userList.id}" />
															<button class="btn btn-danger " type="submit"
																value="Delete">
																<span class="glyphicon glyphicon-trash"></span>
															</button>
															<!-- <input class="btn btn-danger" type="submit" value="Delete"/> -->
														</form>
													</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.content -->
	</div>
	<!-- /.main-content -->

	<th:block layout:fragment="scripts">
		<script src="../static/js/jquery.dataTables.min.js"
			th:src="@{/js/jquery.dataTables.min.js/}"></script>
		<script src="../static/js/jquery.dataTables.bootstrap.min.js"
			th:src="@{/js/jquery.dataTables.bootstrap.min.js/}"></script>
		<script src="../static/js/dataTables.buttons.min.js"
			th:src="@{/js/dataTables.buttons.min.js/}"></script>
		<script src="../static/js/buttons.flash.min.js"
			th:src="@{/js/buttons.flash.min.js/}"></script>
		<script src="../static/js/buttons.html5.min.js"
			th:src="@{/js/buttons.html5.min.js/}"></script>
		<script src="../static/js/buttons.print.min.js"
			th:src="@{/js/buttons.print.min.js/}"></script>
		<script src="../static/js/buttons.colVis.min.js"
			th:src="@{/js/buttons.colVis.min.js/}"></script>
		<script src="../static/js/dataTables.select.min.js"
			th:src="@{/js/dataTables.select.min.js/}"></script>

		<script type="text/javascript">
			jQuery(function($) {
				//initiate dataTables plugin
				var myTable = 
				$('#dynamic-table')
				
				.DataTable( {
					bAutoWidth: false,
					"aoColumns": [					 
					  null, null,null, null,
					 
					  { "bSortable": false }
					],
					"aaSorting": [],				
					
			    
			});
			})
		</script>
	</th:block>

</body>
</html>