<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Plant List</title>
</head>
<body>
   
    <div layout:fragment="content">
				
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="/dashboard">Home</a>
					</li>

					<li class="active">Plant list</li>
				</ul><!-- /.breadcrumb -->
			</div>
			
			<div class="page-content">						
					
					<div class="row">
						<div class="col-xs-12">
					<div class="clearfix">
						<div class="pull-right tableTools-container"></div>
					</div>
					<div class="table-header">All Plant List From Database
						</div>
					<div>
										<table id="dynamic-table" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th data-class='hidden'>Id</th>
													<th class="hidden-480">Image</th>
													<th data-class='hidden'>Kingdom</th>														
													<th class="hidden-480">Sub-Kingdom</th>
													<th data-class='hidden'>Super Division</th>
													<th class="hidden-480">Division</th>
													<th data-class='hidden'>Phylum</th>													
													<th class="hidden-480">Class Name</th>	
													<th data-class='hidden'>Sub-Class</th>
													<th data-class='hidden'>Order</th>													
													<th data-class='hidden'>Family</th>
													<th class="hidden-480">Genus</th>
													<th class="hidden-480">Species</th>
													<th >Common Name</th>	
													<th data-class='hidden'>Description</th>																								
													<th width="5%">Action</th>
													
												</tr>
											</thead>
									<tbody>
										<tr th:each = "plantList :${plantList}"> 
											<td th:text ="${plantList?.id}">test</td> 		
											<td  class="hidden-480"><a class="blue" th:href="@{'/viewplant/'+${plantList.id}}">
											<img th:src="@{${plantList.imageUrl}}" alt="image" style="width:144px;height:108px"/>
											</a>
											</td>
											<td th:text ="${plantList?.kingdom}">test</td>																																								
											<td th:text ="${plantList?.subKingdom}" class="hidden-480">test</td>
											<td th:text ="${plantList?.superDivision}">test</td>
											<td th:text ="${plantList?.division}" class="hidden-480">test</td>
											<td th:text ="${plantList?.phylum}">test</td>														
											<td th:text ="${plantList?.className}" class="hidden-480">test</td>	
											<td th:text ="${plantList?.subClass}">test</td>
											<td th:text ="${plantList?.order}">test</td>												
											<td th:text ="${plantList?.family}">test</td>
											<td th:text ="${plantList?.genus}" class="hidden-480">test</td>
											<td th:text ="${plantList?.species}" class="hidden-480">test</td>
											<td th:text ="${plantList?.commonName}">test</td>
											<td th:text ="${plantList?.description}">test</td>											
											<td>
											<div class="hidden-sm hidden-xs action-buttons">
												<ul id="parent">
													<li><a class="btn btn-success" title="Edit"
														th:href="@{'/update/'+${plantList.id}}"> <i
															class="glyphicon glyphicon-pencil"></i>
													</a></li>
													<li>
													<form th:action="@{/plant/delete/}" th:method="delete">
																<input type="hidden" name="id" th:value="${plantList.id}"/>
																<button class="btn btn-danger " type="submit" title="Delete"
																	value="Delete">
																	<span class="glyphicon glyphicon-trash"></span>
																</button>
																<!-- <input class="btn btn-danger" type="submit" value="Delete"/> -->
															</form>
													</li>
												</ul>
											</div>
											<div class="hidden-md hidden-lg">
												<div class="inline pos-rel">
													<button class="btn btn-minier btn-yellow dropdown-toggle"
														data-toggle="dropdown" data-position="auto">
														<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
													</button>	
													<ul
														class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
	
														<li><a class="btn btn-success"
															th:href="@{'/update/'+${plantList.id}}"> <i
																class="glyphicon glyphicon-pencil"></i>
														</a></li>	
														<li>
															<form th:action="@{/plant/delete}" th:method="delete">
																<input type="hidden" name="id" th:value="${plantList.id}"/>
																<button class="btn btn-danger " type="submit"
																	value="Delete">
																	<span class="glyphicon glyphicon-trash"></span>
																</button>
																
															</form>
														</li>
													</ul>
												</div>
											</div>
										</td>													
								</tr>
							</tbody>
						</table>
					</div>								
				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.content -->			
</div><!-- /.main-content -->
	
		<th:block layout:fragment="scripts">
			<script src="../static/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js/}"></script>
			<script src="../static/js/jquery.dataTables.bootstrap.min.js" th:src="@{/js/jquery.dataTables.bootstrap.min.js/}"></script>
			<script src="../static/js/dataTables.buttons.min.js" th:src="@{/js/dataTables.buttons.min.js/}"></script>
			<script src="../static/js/buttons.flash.min.js" th:src="@{/js/buttons.flash.min.js/}"></script>
			<script src="../static/js/buttons.html5.min.js" th:src="@{/js/buttons.html5.min.js/}"></script>
			<script src="../static/js/buttons.print.min.js" th:src="@{/js/buttons.print.min.js/}"></script>
			<script src="../static/js/buttons.colVis.min.js" th:src="@{/js/buttons.colVis.min.js/}"></script>
			<script src="../static/js/dataTables.select.min.js" th:src="@{/js/dataTables.select.min.js/}"></script>
			
			<script type="text/javascript">
				jQuery(function($) {
					//initiate dataTables plugin
					var myTable = 
					$('#dynamic-table')
					
					.DataTable( {
						bAutoWidth: false,
						"aoColumns": [
						  { "bSortable": false },
						  null, null,null, null, null, null, null, null, null, null, null, null, null, null, 	  
						  { "bSortable": false }
						],
						"aaSorting": [],		
						
				    } );
					
					$.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
					
					new $.fn.dataTable.Buttons( myTable, {
						buttons: [
						  {
							"extend": "copy",
							"text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "csv",
							"text": "<i class='fa fa-file-excel-o bigger-110 blue'></i> <span class='hidden'>Export to CSV</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "excel",
							"text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "pdf",
							"text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
							"className": "btn btn-white btn-primary btn-bold"
						  },
						  {
							"extend": "print",
							"text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
							"className": "btn btn-white btn-primary btn-bold",							
							autoPrint: true,
							message: 'DataTables from LeafId Database'
						  }		  
						]
					} );
					myTable.buttons().container().appendTo( $('.tableTools-container') );
					
					//style the message box
					var defaultCopyAction = myTable.button(1).action();
					myTable.button(1).action(function (e, dt, button, config) {
						defaultCopyAction(e, dt, button, config);
						$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
					});
				
					setTimeout(function() {
						$($('.tableTools-container')).find('a.dt-button').each(function() {
							var div = $(this).find(' > div').first();
							if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
							else $(this).tooltip({container: 'body', title: $(this).text()});
						});
					}, 500);
					
				})
			</script>
		</th:block> 
	</body>
</html>