<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Detail Page</title>
</head>
<body>
   
    <div layout:fragment="content">
				
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="#">Home</a>
					</li>

					<li class="active">Plant Details</li>
				</ul><!-- /.breadcrumb -->
			</div>
			
			<div class="page-content">						
					<div class="page-header">
						<h1>
							Single
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								Plant &amp; Details
							</small>
						</h1>
					</div><!-- /.page-header -->
					
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
																		
									<div id="user-profile-1" class="user-profile row">
										<div class="col-xs-12 col-sm-4 center">
											<div>
												<span class="profile-picture">
													<img th:src="@{'/file/'+${plantDetails.imageUrl}}"  alt="Plant picture" style="width:380px;height:460px"/>
												</span>

												<div class="space-4"></div>

												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">								
															<span class="white" th:text="${plantDetails.commonName}">Title</span>														
													</div>
												</div>
											</div>
											<div class="space-6"></div>									
										</div>

										<div class="col-xs-12 col-sm-8">							
											<div class="profile-user-info profile-user-info-striped">
												<div class="profile-info-row">
													<div class="profile-info-name"> Kingdom </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.kingdom}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Sub-Kingdom </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.subKingdom}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Super-Kingdom </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.superDivision}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Division </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.division}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Phylum </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.phylum}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Class Name </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.className}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Sub-Class </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.subClass}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Order </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.order}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Family </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.family}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Genus </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.genus}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Species </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.species}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Common Name </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.commonName}">test</span>
													</div>
												</div>
												<div class="profile-info-row">
													<div class="profile-info-name"> Description </div>
													<div class="profile-info-value">
														<span class="editable" id="username" th:text="${plantDetails.description}">test</span>
													</div>
												</div>
											</div>

											<div class="space-20"></div>													
										</div>
									</div>
								
							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
			</div><!-- /.content -->
			
				
	</div><!-- /.main-content -->
    

</body>
</html>